@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

input:where(:not([type])) {
    border-width: 0;
    box-shadow: none!important;
    padding-top: 0;
}
.tooltip {
    width: 100%;
}
